<launch>
 <!-- VESC driver parameters -->
  <arg name="node_name" default="vesc_driver_node" />
  <arg name="port" default="/dev/ttyACM0" />

  <!-- VESC driver node -->
  <node pkg="vesc_driver" type="vesc_driver_node" name="$(arg node_name)" output="screen">
    <param name="port" value="$(arg port)" />
  </node>

 <!-- vesc_control_ex2 node -->
  <node pkg="vesc_control_ex2" type="vesc_control_ex2_node" name="vesc_control_ex2_node" output="screen"/>

 </launch>
