<launch>
  <!-- VESC driver parameters -->
  <arg name="node_name1" default="vesc_driver_node1" />
  <arg name="port1" default="/dev/ttyACM2" />

  <!-- VESC driver node -->
  <node pkg="vesc_driver" type="vesc_driver_node" name="$(arg node_name1)" output="screen">
    <param name="port" value="$(arg port1)" />
  </node>



  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_teleop" output="screen">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
  </node>

 <!-- huboq_remastered_ver1 node -->
  <node pkg="huboq_remastered_ver1" type="huboq_remastered_ver1_node" name="huboq_remastered_ver1_node" output="screen"/>

 </launch>
