<launch>
  <!-- VESC driver parameters -->
  <arg name="node_name1" default="vesc_driver_node1" />
  <arg name="port1" default="/dev/ttyACM1" />

  <!-- VESC driver node -->
  <node pkg="vesc_driver" type="vesc_driver_node" name="$(arg node_name1)" output="screen">
    <param name="port" value="$(arg port1)" />
  </node>

  <!-- VESC driver parameters -->
  <!--  <arg name="node_name2" default="vesc_driver_node2" /> -->
  <!--  <arg name="port2" default="/dev/ttyACM2" /> -->

  <!-- VESC driver node -->
  <!--  <node pkg="vesc_driver" type="vesc_driver_node" name="$(arg node_name2)" output="screen"> -->
  <!--    <param name="port" value="$(arg port2)" /> -->
  <!--  </node> -->

  <!-- joy node -->
  <!-- <node respawn="true" pkg="joy" type="joy_node" name="joy_teleop" output="screen"> -->
  <!--  <param name="dev" type="string" value="/dev/input/js0" /> -->
  <!--  <param name="deadzone" value="0.1" /> -->
  <!-- </node> -->

  <!-- Teleop Keyboard -->
  <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop"> -->
    <!-- <remap from="cmd_vel" to="robot0/cmd_vel"/> -->
  <!-- </node> -->

  <!-- vesc_control_ex3_node -->
  <node pkg="vesc_control_ex3" type="vesc_control_ex3_node" name="vesc_control_ex3_node" output="screen"/>

 </launch>
